**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

/.vscode/
*.lock.hcl
*.pem
*.rsa
*.rsa.*
.vagrant
.ansible
.vscode
.vagrant/
*.log
*.box
*.pem
*.vdi
*.vmdk
__pycache__
myvenv/
.ansible/